@model IEnumerable<RedSky.Presentation.Web.ViewModels.CertificadoDigitalViewModel>

@{
    ViewBag.Title = "CertificadosIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Certificados digitais</h2>

<p>
    @Html.ActionLink("Create New", "CertificadosCreate", new {idFilial = ViewBag.IdFilial})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEmpresarial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresarial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.ActionLink("Detalhar", "Details", new {id = item.Id}) |
            </td>
        </tr>
    }

</table>