@model RedSky.Presentation.Web.ViewModels.EmpresaViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function() {
        $('#IdRegimeTributario').change(function() {
            var i = $(this).val();
            if (i == 1) {
                $("#impostos").fadeOut();
            } else {
                $('#impostos').fadeIn();
            }
        });
    });

    //function evaluateTaxes() {
    //    var i = document.getElementById("IdRegimeTributario").value;
    //    if (i === 1)
    //        $("#impostos").fadeOut();
    //    else
    //        $('#impostos').fadeIn();
    //};
</script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Empresa</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Identificacao, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identificacao, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Identificacao, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RazaoSocial, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazaoSocial, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.RazaoSocial, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegimeTributario, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdRegimeTributario, ViewBag.RegimesTributarios as SelectList, "Selecione o regime tributário", new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.IdRegimeTributario, "", new {@class = "text-danger"})
            </div>
        </div>

        <div id="impostos">

            <div class="form-group">
                @Html.LabelFor(model => model.AliquotaPIS, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AliquotaPIS, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AliquotaPIS, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AliquotaCOFINS, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AliquotaCOFINS, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AliquotaCOFINS, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AliquotaCSLL, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AliquotaCSLL, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AliquotaCSLL, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AliquotaIR, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AliquotaIR, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AliquotaIR, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AliquotaINSS, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AliquotaINSS, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AliquotaINSS, "", new {@class = "text-danger"})
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaminhoRelatorio, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaminhoRelatorio, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CaminhoRelatorio, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServidorSMTP, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServidorSMTP, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ServidorSMTP, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SenhaEmail, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SenhaEmail, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SenhaEmail, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmaSenhaEmail, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmaSenhaEmail, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ConfirmaSenhaEmail, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Port, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Port, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Port, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeOut, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeOut, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TimeOut, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UseDefaultCredentials, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UseDefaultCredentials)
                    @Html.ValidationMessageFor(model => model.UseDefaultCredentials, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnableSSL, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EnableSSL)
                    @Html.ValidationMessageFor(model => model.EnableSSL, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retornar", "Index")
</div>