@model RedSky.Presentation.Web.ViewModels.CreateColumnViewModel

@{
    Layout = "../Shared/_Modal.cshtml";
}

@using (Html.BeginForm("CreateColumn", "Tracking", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" style="color: #000000">Create New Column</h4>

    </div>
    <div class="modal-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdTaskGroup)

        <div class="form-horizontal" style="display: inline-block;width:650px">
            <div class="form-group">
                @Html.LabelFor(model => model.Header, new { @class = "control-label col-sm-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-horizontal" style="display: inline-block;width:650px">
            <div class="form-group">
                @Html.LabelFor(model => model.IdDataType, new { @class = "control-label col-sm-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.IdDataType, new SelectList(ViewBag.DataTypes, "Id", "Value", Model.IdDataType), "Select the data type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDataType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <input type="submit" id="btnSalvar" class="btn btn-redSky" value="Salvar" style="float: left" />
        <button type="button" class="btn btn-redSky-clicked" data-dismiss="modal" style="float: right">Cancelar</button>
    </div>
}

<script type="text/javascript" language="javascript">
    // Carrega o popup menor.
    $('#container-resizer').first().removeClass('popup-modal');
    $('#container-resizer').first().addClass('popup-small');

    // Send form via ajax
    $(function() {
        $('form').submit(function() {
            if ($(this).valid()) {
                showProgress('Adding column...');
                $('#modalbody').modal('hide');

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    traditional: true,
                    statusCode: {
                        // In case the model is valid.
                        200: function(result) {
                            debugger;
                            $('#modal-body').empty();
                            // Limpa a div com os dados da tabela original para forçar o recarregamento com o novo Lote RPS.
                            $('#partial-container').empty();
                            //$('#partial-container').html(result).fadeIn();
                            hideProgress();
                            location.reload(true);
                        },

                        // In case the model is invalid.
                        422: function(result) {
                            debugger;
                            $('#modalbody').empty();
                            $('#modalbody').html(result.responseText);

                            hideProgress();
                            $('#modal-container').modal('show');
                        }
                    }
                });
            }
            return false;
        });
    });
</script>